:root{
  --width-content: 65rem;
  --padding-content: 0rem 2rem 0rem 2rem;
}

:root, [theme="light"] {
  color-scheme: light;  
  --color-feature: #25b3bc;
  --color-simple: #aaa;
  --color-unnoticeble: #e5e7eb;
  --color-text: #222;
  --color-background: rgb(246, 248, 250);
  --color-background-header: linear-gradient(to bottom, var(--color-background), rgba(246, 248, 250, 0.8));
}

[theme="dark"] {
  color-scheme: dark;
  --color-feature: #44c5cd;
  --color-simple: #868d9a;
  --color-unnoticeble: #696e79;
  --color-text: #e2e3e7;
  --color-background: rgb(35, 37, 41);
  --color-background-header: linear-gradient(to bottom, var(--color-background), rgba(35, 37, 41, 0.8));
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

@font-face {
  font-family: "PT-Root-UI_Regular";
  src: url("fonts/PT-Root-UI_Regular.ttf") format("opentype");
}
