@import "./base.css";

header {
  position: sticky;
  z-index: 10;
  top: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: 
    linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0.8));
}

a {
  color: #25b3bc;
  cursor: pointer;
  text-decoration: none;
}

a:hover, 
#posts > li.post > div.post-title {
  color: #25b3bc;
  background-size: 100% 1px;
  background-repeat: repeat-x;
  background-position: 0 calc(100% - 1px);
  background-image: linear-gradient(to right, #25b3bc 100%, rgba(255, 255, 255, 0) 0%);
}

body {
  color: #e5e7eb;
}

hr {
  height: 3px;
  color: #AAA;
}

input:focus-visible {
  outline: none;
}

input::placeholder {
 color: #e5e7eb;
}

#menu {
  list-style-type: none;
  text-align: center;
  font-size: 1.1rem;
  padding-left: 0rem;
}

#menu > li {
  display: inline;
}

#menu > li:not(:last-child)::after {
  content: "/";
  margin-right: 1rem;
  margin-left: 1rem;
}

#content {
  max-width: calc(900px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
  position: relative;
  min-height: 80vh;
}

#posts {
  margin-left: 1.5rem;
  padding: 0;
  /* list-style-type: square; */
  list-style: none;
}

#posts > li.post > div.post-title,
#posts > li.post > div.post-date
{
  display: inline;
}

#posts > li.post > div.post-title {
  font-size: 1.0rem;
  color: #25b3bc;
  cursor: pointer;
}

#posts > li.post > div.post-title:hover {
  filter: brightness(85%);
}

#posts > li.post > div.separator{
  display: inline;
}

#posts > li.post > div.separator::after {
  color: #AAA;
  content: "–";
  margin-right: 1rem;
  margin-left: 1rem;
}

#posts > li.post > div.post-date {
  font-size: 0.8rem;
  color: #AAA;
}

#posts > li.post > div.post-date::after {
  content: attr(data-date);
}

#posts > li.post {
  margin-bottom: 1rem;
}

/* ul.posts > li.post:before {
  content: "§";
  color: #AAA;
  padding-right: 5px;
  font-size: 1.4rem;
  top: 0.5rem;
} */

div.tags > div.tag {
  display: inline-block;
  font-size: 0.8rem;
  line-height: 1.3rem;
  color: #25b3bc;
  cursor: pointer;
}

div.tags > div.tag::before {
  content: "■";
  font-size: 0.4rem;
  top: -0.2rem;
  margin-right: 0.2rem;
  opacity: 0;
}

div.tags > div.tag:hover::before {
  opacity: 1;
}

div.tags > div.tag:not(:last-child) {
  margin-right: 1rem;
}

#post-search {
  display: flex;
  margin-bottom: 3rem;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  
}

#post-search > button {
  background: white;
  border: none;
  color: #25b3bc;
  font-size: 1.0rem;
  display: inline;
}

#post-search > input {
  flex-grow: 1;
  border: none;
  border-bottom: 1px solid #25b3bc;
  box-shadow: none;
}

#post-search > input:disabled {
  cursor: not-allowed;
  border-bottom: 1px solid #AAA;
}

#tags {
  flex-wrap: wrap;
  display: inline-flex;
  justify-content: center;
}

#tags > li {
  display: inline;
  font-size: 1.3rem;
}

#tags > li::before {
  content: "■";
  color: #25b3bc;
  font-size: 0.4rem;
  top: -15%;
  margin-right: 0.2rem;
}

#tags > li:not(:last-child) {
  margin-right: 2rem;
}

#admin-menu {
  text-align: right;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
  color: #AAA;
  border: 1px solid #aaa;
  padding: 0.2rem;
}

#admin-menu > ul {
  display: none;
  list-style-type: none;
}
  
#admin-menu:hover > ul {
  padding: 0px;
  margin: 0px;
  display: block;
  text-align: left;
}

#admin-menu > hr {
  display: none;
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
  color: #AAA;
}

#admin-menu:hover > hr {
  display: block;
}

#admin-menu > ul > li:hover {
  color: #25b3bc;
}

#pagination {
  flex-wrap: wrap;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  color: #25b3bc;
  list-style-type: none;
  position: absolute;
  bottom: 0;
}

#pagination > li {
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}

#pagination > li.disabled {
  color: #AAA;
  cursor: default;
}

#pagination > li::after {
  content: attr(data-content);
}

#pagination > li.active {
  border-bottom: 1px solid #25b3bc;
}

#pagination > li:not(:last-child){
  margin-right: 1rem;
}

#pagination > li:hover:not(.disabled) {
  border-bottom: 1px solid #25b3bc;
  cursor: pointer;
}

#button-add-post {
  position: absolute;
  left: 0rem;
  top: 0rem;
  font-size: 1.5rem;
  margin-bottom: 1px;

  border: 1px solid #25b3bc;
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  color: #25b3bc;
  padding-bottom: 0.25rem;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

#button-add-post:hover {
  background-image: none;
}

#button-add-post::before {
  content: "+";
}

#create-post {
  width: 100%;
}

#create-post > div > #post-title {
  flex-grow: 1;
  border: none;
  border-bottom: 1px solid #25b3bc;
  box-shadow: none;
  width: 100%;
  outline: none;
}

#create-post label {
  color: #AAA;
}

#create-post > div {
  margin-bottom: 2rem;
}

#create-post > #post-body {
  border: 1px solid #25b3bc;
  box-shadow: none;
  flex-grow: 1;
  width: 100%;
  outline: none;
}

#create-post > button[type=submit] {
  outline: none;
  border: 1px solid #25b3bc;
  border-radius: 5px;
  background: white;
  color: #25b3bc;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}

#create-post > button[type=submit]:hover {
  background: #25b3bc;
  color: white;
}

#post-detail > #post-title {
  color: #25b3bc;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#post-detail > #post-tags {
  color: #25b3bc;
  list-style-type: none;

  flex-wrap: wrap;
  display: inline-flex;
  justify-content: center;
  padding: 0rem;
  width: 100%;
  margin-bottom: 2rem;
}

#post-detail > #post-tags > li {
  cursor: pointer;
}

#post-detail > #post-tags > li::before {
  content: "■";
  font-size: 0.4rem;
  top: -0.2rem;
  margin-right: 0.2rem;
  opacity: 0;
}

#post-detail > #post-tags > li:hover::before {
  opacity: 1;
}

#post-detail > #post-tags > li:not(:last-child) {
  margin-right: 1rem;
}

#post-detail > #post-body {
  color: #AAA;
}
