@import "../../assets/base.css";

#create-note {
  width: 100%;
}

#create-note > div > #note-title {
  flex-grow: 1;
  border: none;
  border-bottom: 1px solid var(--color-feature);
  box-shadow: none;
  width: 100%;
  outline: none;
  position: relative;
}

#create-note > div {
  margin-bottom: 2rem;
}

#create-note > #note-body {
  border: 1px solid var(--color-feature);
  box-shadow: none;
  flex-grow: 1;
  width: 100%;
  outline: none;
}

#create-note > a {
  outline: none;
  border: 1px solid var(--color-feature);
  background:  var(--color-background);
  color: var(--color-feature);
  padding: 0.2rem 1rem 0.2rem 1rem;
}

#create-note > a:hover {
  background: var(--color-feature);
  color:  var(--color-background);
}

.select > label {
  margin-right: 1rem;
}

.select > select {
  outline: none;
  border: none;
  background:  var(--color-background);
  border-bottom: 1px solid var(--color-feature);
}

#note-detail > #note-title {
  color: var(--color-feature);
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  width: fit-content;
  margin: 0 auto;
}

#note-detail > #note-category {
  color: var(--color-feature);
  list-style-type: none;

  flex-wrap: wrap;
  display: inline-flex;
  justify-content: center;
  padding: 0rem;
  width: 100%;
  margin-bottom: 2rem;
}

#note-detail > #note-categories > li {
  cursor: pointer;
}

#note-detail > #note-categories > li::before {
  content: "■";
  font-size: 0.6rem;
  top: -0.2rem;
  margin-right: 0.2rem;
  opacity: 0;
}

#note-detail > #note-categories > li:hover::before {
  opacity: 1;
}

#note-detail > #note-categories > li:not(:last-child) {
  margin-right: 1rem;
}

#note-detail > #note-body {
  color: var(--color-simple);
}

#pagination {
  flex-wrap: wrap;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  color: var(--color-feature);
  list-style-type: none;
  position: absolute;
  bottom: 0;
  padding: 0px;
  left: 0px;
}

#pagination > li {
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  min-width: 0.5rem;
  text-align: center;
}

#pagination > li.disabled {
  color: var(--color-simple);
  cursor: default;
}

#pagination > li::after {
  content: attr(data-content);
}

#pagination > li.active {
  border-bottom: 1px solid var(--color-feature);
}

#pagination > li:not(:last-child) {
  margin-right: 1rem;
}

#pagination > li:hover:not(.disabled) {
  border-bottom: 1px solid var(--color-feature);
  cursor: pointer;
}

#button-add-note {
  position: absolute;
  left: 0rem;
  top: 0rem;
  font-size: 1.5rem;
  margin-bottom: 1px;

  border: 1px solid var(--color-feature);
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  color: var(--color-feature);
  padding-bottom: 0.25rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

#button-add-note:hover {
  background-image: none;
}

#button-add-note::before {
  content: "+";
}

#notes {
  padding: 0;
  margin: 0;
  list-style: none;
}

#notes > li.note > div.note-title,
#notes > li.note > div.note-date,
#notes > li.note > div.note-draft {
  display: inline;
}

#notes > li.note > div.note-draft {
  margin-left: 1rem;
  color: var(--color-simple);
}

[data-tooltip]:hover::after {
  opacity: 1;
  transition: .15s;
  transition-delay: 0.30s;
}

[data-tooltip]::after {
  content: attr(data-tooltip); /* Выводим текст */
  pointer-events: none;
  opacity: 0;
  transition: .15s;
  border: 1px solid var(--color-simple);
  padding: 0.0rem 0.5rem 0.1rem 0.5rem;
  position: absolute;
  font-size: 0.8rem;
  margin-left: 0.5rem;
  margin-top: -0.5rem;
}

#notes > li.note > div.note-title {
  font-size: 1.2rem;
  color: var(--color-feature);
  cursor: pointer;
}

/* #notes > li.note > div.note-title:hover {
  filter: brightness(85%);
} */

#notes > li.note > div.separator {
  display: inline;
}

#notes > li.note > div.separator::after {
  color: var(--color-simple);
  content: "–";
  margin-right: 1rem;
  margin-left: 1rem;
}

#notes > li.note > div.note-date {
  font-size: 1rem;
  color: var(--color-simple);
}

#notes > li.note > div.note-date::after {
  content: attr(data-date);
}

#notes > li.note {
  padding-bottom: 1rem;
}

div.note-tools {
  position: absolute;
  top: 0rem;
  right: -5rem;
}

div.note-tools > a {
  color: var(--color-feature);
  border: 1px solid var(--color-feature);
  cursor: pointer;
  font-size: 0.8rem;
  padding: 0.2rem;
}

div.note-tools > a:not(:last-child) {
  margin-right: 1rem;
}

#notes > li.note > div.category {
  display: block;
  font-size: 0.9rem;
  line-height: 1.3rem;
  color: var(--color-feature);
  cursor: pointer;
  width: fit-content;
}

#notes > li.note > div.category::before {
  content: "-"; 
  margin-right: 0.2rem;
  /* font-size: 0.4rem;
  top: -0.1rem;
  opacity: 0; */
}

#notes > li.note > div.category:hover::before {
  opacity: 1;
}

#notes > li.note > div.category:not(:last-child) {
  margin-right: 1rem;
}

#note-search {
  display: grid;
  margin-bottom: 1rem;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#note-search > button {
  background:  var(--color-background);
  border: none;
  color: var(--color-feature);
  font-size: 1rem;
  display: inline;
}

#note-search > input {
  flex-grow: 1;
  border: none;
  border-bottom: 1px solid var(--color-feature);
  box-shadow: none;
  min-width: 5rem;
  color: var(--color-simple);
  font-size: 0.8rem;
  color: var(--color-text);
}

#note-search > input::-moz-placeholder {
  color: var(--color-simple);
}

#note-search > input::-webkit-input-placeholder {
  color: var(--color-simple);
}

#note-search > input:disabled {
  cursor: not-allowed;
  border-bottom: 1px solid var(--color-simple);
}

#filter-categories {
  margin-top: 0.5rem;
  margin-bottom: 0rem;
  min-height: 2rem;
  list-style-type: none;
  color: var(--color-feature);
  padding-left: 0rem;
  font-size: 0.9rem;
  display: flex;
}

#filter-categories > li {
  border: 1px solid var(--color-feature);
  width: max-content;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 1.6rem;
}

#filter-categories > li:not(:last-child) {
  margin-right: 1rem;
}

#filter-categories > li > span {
  font-size: 0.5rem;
  vertical-align: middle;
  cursor: pointer;
  padding: 0.2rem;
}

#note-edit-options > input[type="checkbox"] {
  margin-right: 0.2rem;
}

#note-edit-options {
  text-align: end;
}

#note-options {
  display: flex;
}

#note-options > div:not(:last-child)::after {
  content: "|";
  color: var(--color-unnoticeble);
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.checkbox > input[type="checkbox"] {
  margin-right: 0.2rem;
}

.checkbox > label {
  color: var(--color-text);
}

@media only screen and (max-width: 640px) {
  #notes > li.note > div.separator{
    display: none;
  }

  #notes > li.note > div.note-date::after {
    display: block;
  }
}
